open3d
trimesh
scikit-image
opencv-python
plyfile
tqdm
natsort
argparse
easydict
h5py
matplotlib
pyyaml
scipy
tensorboardX
timm==0.4.5
tqdm
transforms3d
termcolor
imageio
imageio-ffmpeg
numpy==1.26.3
ninja==1.11.1.4
mediapy